.searchbar {
    position: relative;
    top: -28px;

    .modal-overlay {
        display: none;
        @include media-query(767) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            background: rgba(0, 0, 0, 0.63);
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }

    .close-button {
        display: none;
        @include media-query(767) {
            display: block;
            text-align: right;

            img {
                max-width: 100%;
                vertical-align: middle;
                width: 30px;
                margin-right: 1.5em;
                margin-top: 1em;
            }
        }
    }

    &__modal {
        display: flex;
        @include media-query(767) {
            display: none;
            &.active {
                display: flex;
                flex-direction: column;
                position: fixed;
                background-color: var(--main-card);
                transition: background-color 0.2s ease-in-out;
                top: 50%;
                left: 50%;
                right: 0;
                z-index: 5;
                width: 85%;
                transform: translate(-50%, -50%);
                border-radius: 5px;

                .searchbar__filter-time {
                    flex-direction: column;
                    padding: 1.5em;
                }

                .content-full-time {
                    margin-bottom: 1.5em;
                }

                .searchbar__filter-location {
                    padding: 0.5em 1.5em;
                    border-bottom: 1px solid #9eafc2;
                    input {
                        border-right: none;
                        // border-bottom: 1px solid #9eafc2;
                    }
                }

                .searchbar__filter-time {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__filter {
        display: grid;
        align-items: center;
        grid-template-columns: 40% 60%;
        background-color: var(--main-card);
        transition: background-color 0.2s ease-in-out;
        border-radius: 5px;
        overflow: hidden;
        padding: 0px 10px;
        height: 56px;

        @include media-query(767) {
            grid-template-columns: 100%;
        }

        input {
            border: none;
            background-color: transparent;
            width: 100%;
            height: 50px;
            padding: 20px 15px 20px 35px;
            font-family: inherit;
            color: var(--card-title);

            &::placeholder {
                color: $gray--dark;
                font-size: 13px;
                font-weight: 400;
            }

            &:focus {
                outline: none;
            }
        }

        &-description {
            position: relative;

            input {
                background-image: url(/images/desktop/icon-search.svg);
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: 5px 50%;
                border-right: 1px solid $gray;

                @include media-query(767) {
                    border-right: none;
                    background-image: none;
                    padding: 20px 15px 20px 15px;
                }
            }

            .filter-mobile {
                display: none;
                @include media-query(767) {
                    display: block;
                    position: absolute;
                    top: calc(50% - 10px);
                    right: 50px;
                    width: 20px;
                    height: 20px;
                    border: none;
                    background: transparent;
                    padding: 0;
                    margin: 0;

                    &:focus,
                    &:active {
                        outline: none;
                    }
                }
            }

            .filter-search-button {
                display: none;
                @include media-query(767) {
                    position: absolute;
                    top: calc(50% - 17.5px);
                    right: 0;
                    padding: 0;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 15px;
                    }
                }
            }
        }

        &-location {
            flex: 0 0 50%;

            input {
                background-image: url(/images/desktop/icon-location.svg);
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: 10px 50%;
                border-right: 1px solid $gray;
            }
        }

        &-time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 50%;

            .content-full-time {
                display: flex;
                align-items: center;
                cursor: pointer;
                // margin-right: 10px;
                margin-right: 20px;

                span {
                    flex-shrink: 0;
                    width: 15px;
                    height: 15px;
                    background-color: lighten($color: $gray, $amount: 15%);
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    border-radius: 2px;

                    &.checked {
                        background-color: $violet;
                    }

                    img {
                        max-width: 80%;
                        max-height: 80%;
                    }
                }
            }

            small {
                font-weight: 700;
                position: relative;
                color: var(--card-title);
                transition: color 0.2s ease-in-out;
                top: 2px;
            }
        }
    }
}
