@import './base/colors';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $gray--light;
}

html {
    box-sizing: border-box;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    max-width: calc(1400px - 2em);
    margin: 0 auto;
    padding: 0 2em;
}

@import './pages/job';
@import './pages/jobDetails';
@import './components/card';
@import './components/header';
@import './components/buttons';
@import './components/searchbar';
