@import './base/colors';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--main);
    transition: background 0.2s ease-in-out;
}

html {
    box-sizing: border-box;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: calc(1400px - 2em);
    margin: 0 auto;
    padding: 0 2em;
}

.time {
    color: $gray--dark;

    & small:first-child {
        margin-right: 30px;
        position: relative;

        &::before {
            content: '';
            width: 5px;
            height: 5px;
            background: $gray--dark;
            border-radius: 50%;
            position: absolute;
            right: -17.5px;
            top: calc(50% - 2.5px);
        }
    }
}

// mixins
@import './mixin/responsive';

@import './pages/job';
@import './pages/jobDetails';
@import './components/card';
@import './components/header';
@import './components/buttons';
@import './components/searchbar';
@import './components/loader';
@import './components/error';
